@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --text-color-primary: #4a4a4a;
  --accent-color-primary: #3b80fe;
  --accent-color-secondary: #1660e7;

  --linkedin-color: #0e76a8;

  --color-red: #f44336;
  --color-red-secondary: #d32f2f;
  --color-blue: #2196f3;
  --color-blue-secondary: #1976d2;
  --color-deep-purple: #673ab7;
  --color-deep-purple-secondary: #512da8;
  --color-teal: #009688;
  --color-teal-secondary: #00796b;
  --color-green: #4caf50;
  --color-green-secondary: #388e3c;
  --color-orange: #ff9800;
  --color-orange-secondary: #f57c00;
  --color-brown: #795548;
  --color-brown-secondary: #5d4037;
  --color-yellow: #ffeb3b;
  --color-yellow-secondary: #fbc02d;
  --color-cyan: #00bcd4;
  --color-cyan-secondary: #0097a7;
  --color-indigo: #3f51b5;
  --color-indigo-secondary: #303f9f;
}

html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color-primary);
  height: 100%;
  width: 100%;
}

.btn {
  border: none;
  background: none;
  background-color: var(--accent-color-primary);
  color: white;
  font-weight: lighter;
  border-radius: 32px;
  font-size: 16px;
  padding: 16px 64px;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--accent-color-secondary);
  box-shadow: 2px 2px 10px #c5c5c5;
}

@keyframes fadeslidein {
  from {
    left: -40px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes zoominout {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}
