.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .title {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
}

.main .description {
  font-weight: lighter;
  margin-bottom: 48px;
  max-width: 350px;
  font-size: 20px;
}

.main .socials {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.main .socials li {
  display: inline-block;
}

.portfolio {
}

.portfolio-item {
  color: white;
  background-color: #005ba9;
  padding: 64px 32px;
  font-weight: lighter;
  font-size: 24px;
}

#education {
  background: linear-gradient(
    -135deg,
    var(--color-orange),
    var(--color-orange-secondary)
  );
}

#experience {
  background: linear-gradient(
    -135deg,
    var(--color-blue),
    var(--color-blue-secondary)
  );
}

#skills {
  background: linear-gradient(
    -135deg,
    var(--color-teal),
    var(--color-teal-secondary)
  );
}

#projects {
  background: linear-gradient(
    -135deg,
    var(--color-deep-purple),
    var(--color-deep-purple)
  );
}

#certifications {
  background: linear-gradient(
    -135deg,
    var(--color-brown),
    var(--color-brown-secondary)
  );
}

#contact {
  padding: 64px 32px;
  color: white;
  background: linear-gradient(
    -135deg,
    var(--color-indigo),
    var(--color-indigo-secondary)
  );
}
