@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }

  .main {
    height: 100%;
    flex: 1;
    height: 100%;
    justify-content: flex-end;
  }

  #secondary {
    flex: 2;
    overflow-y: auto;
  }

  .portfolio-item {
    padding: 64px 40px;
  }
}
