.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.view-details-btn {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  align-items: center;
  transition: 0.3s;
}

.view-details-btn:hover {
  cursor: pointer;
}

.view-details-btn .icon {
  transition: 0.3s;
  height: 20px;
  margin-left: 8px;
}

.view-details-btn:hover .icon {
  margin-left: 16px;
}

.main {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main .title {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  animation: fadeslidein 0.5s 0.5s normal both;
  opacity: 0;
  position: relative;
}

.main .description {
  font-weight: lighter;
  margin-bottom: 48px;
  max-width: 350px;
  font-size: 20px;
  animation: fadeslidein 0.5s 0.6s normal both;
  opacity: 0;
  position: relative;
}

.socials {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  animation: fadeslidein 0.5s 0.7s normal both;
  opacity: 0;
  position: relative;
}

.socials li {
  display: inline-block;
}

.socials .social-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  opacity: 0.7;
  transition: 0.3s;
  padding: 24px;
}

.socials .social-item:hover {
  cursor: pointer;
  filter: grayscale(0);
  opacity: 1;
}

.socials .social-item .icon {
  height: 24px;
  margin-bottom: 4px;
}

.socials .social-item .name {
  position: absolute;
  top: 56px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  font-size: 12px;
  background-color: white;
}

.social-item:hover .name,
.social-item .name:hover {
  top: -8px;
  background-color: black;
  border-radius: 12px;
  color: white;
  padding: 2px 8px;
}

#contact-me-btn {
  animation: fadeslidein 0.5s 0.8s normal both;
  opacity: 0;
  position: relative;
}

.portfolio {
}

.portfolio-item {
  color: white;
  background-color: #005ba9;
  padding: 64px 32px;
  font-weight: normal;
  font-size: 24px;
}

.portfolio-item-title {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: normal;
}

.portfolio-item > * {
  position: relative;
  animation: fadeslidein 0.5s 0.5s normal both;
}

#education {
  background: linear-gradient(
    -135deg,
    var(--color-orange),
    var(--color-orange-secondary)
  );
}

.education-list-item .name {
  margin-bottom: 4px;
  font-size: 28px;
}

.education-list-item .course {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: lighter;
}

.education-list-item:not(:last-of-type) {
  margin-bottom: 32px;
}

#experience {
  background: linear-gradient(
    -135deg,
    var(--color-blue),
    var(--color-blue-secondary)
  );
}

#skills {
  background: linear-gradient(
    -135deg,
    var(--color-teal),
    var(--color-teal-secondary)
  );
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.skills-item {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  transition: 0.3s;
}

.skills-item:hover {
}

.skills-item .logo {
  height: 48px;
  margin-bottom: 16px;
}

.skills-item .name {
  font-weight: lighter;
  font-size: 20px;
}

#projects {
  background: linear-gradient(
    -135deg,
    var(--color-deep-purple),
    var(--color-deep-purple-secondary)
  );
}

#certifications {
  background: linear-gradient(
    -135deg,
    var(--color-brown),
    var(--color-brown-secondary)
  );
}

#contact {
  padding: 64px 32px;
  color: white;
  background: linear-gradient(
    -135deg,
    var(--color-indigo),
    var(--color-indigo-secondary)
  );
}

#contact .contact-link {
  color: white;
  font-weight: lighter;
  font-size: 18px;
  text-decoration: none;
}

#contact .title {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#contact .title img {
  height: 14px;
  margin-right: 16px;
}

#contact-form {
  margin-top: 24px;
}

#contact-form label {
  display: block;
  margin-bottom: 32px;
  width: 100%;
  font-size: 16px;
}

.input {
  margin-top: 12px;
  display: block;
  border: none;
  padding: 8px;
  font-size: 20px;
  width: 100%;
  outline: none;
  transition: 0.3s;
  outline: none;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid grey;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-orange);
}

.label {
  display: block;
}

#contact-form label textarea {
  resize: none;
}
