* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
  /* @apply bg-black; */
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    @apply transition text-white bg-blue-600 px-4 py-2 rounded-md;
    @apply focus:outline-none hover:bg-blue-700 active:bg-blue-800;
  }

  .btn-white {
    @apply text-black bg-white;
    @apply hover:bg-gray-200 active:bg-gray-300;
  }

  .section-heading {
    @apply text-4xl mb-12;
  }
}
