.details-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 999;
  overflow: auto;
  display: none;
  background-color: rgba(0, 0, 0, 0.32);
}

.dialog-content {
  animation: slidein 0.5s;
  padding: 24px;
  background-color: var(--color-orange);
  box-shadow: var(--material-shadow);
  width: 100%;
}

.dialog-content .close-btn {
  height: 20px;
  margin-bottom: 20px;
}

.dialog-content .close-btn:hover {
  cursor: pointer;
}

.show-dialog {
  display: flex;
  justify-content: flex-end;
}

.hide-dialog {
  animation: slideout 0.5s;
  animation-fill-mode: both;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.view-details-btn {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  align-items: center;
  transition: 0.3s;
}

.view-details-btn.small {
  font-size: 12px;
}

.view-details-btn.small .icon {
  height: 16px;
  margin-left: 0px;
}

.view-details-btn:hover {
  cursor: pointer;
}

.view-details-btn .icon {
  transition: 0.3s;
  height: 20px;
  margin-left: 8px;
}

.view-details-btn:hover .icon {
  margin-left: 16px;
}

.main {
  padding: 64px 32px;
  flex-direction: column;
  align-items: flex-start;
}

.main .title {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  animation: fadeslidein 0.5s 0.5s normal backwards;
  opacity: 1;
  position: relative;
}

.main .description {
  font-weight: 300;
  margin-bottom: 48px;
  max-width: 350px;
  font-size: 20px;
  animation: fadeslidein 0.5s 0.6s normal backwards;
  position: relative;
}

.socials {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  animation: fadeslidein 0.5s 0.7s normal backwards;
  position: relative;
}

.socials li {
  display: inline-block;
}

.social-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  opacity: 0.7;
  transition: 0.3s;
  padding: 24px;
}

.social-item a:focus {
  outline: none;
}

.social-item:hover {
  cursor: pointer;
  filter: grayscale(0);
  opacity: 1;
}

.social-item .icon {
  height: 24px;
  margin-bottom: 4px;
}

.social-item .name {
  position: absolute;
  top: 56px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  font-size: 12px;
  background-color: white;
}

.social-item:hover .name,
.social-item .name:hover {
  top: -8px;
  background-color: black;
  border-radius: 12px;
  color: white;
  padding: 2px 8px;
}

#contact-me-btn {
  animation: fadeslidein 0.5s 0.8s normal backwards;
  position: relative;
}

.portfolio {
}

.portfolio-item {
  color: white;
  background-color: #005ba9;
  padding: 64px 32px;
  font-weight: normal;
  font-size: 24px;
}

.portfolio-item-title {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: normal;
}

.portfolio-item > * {
  position: relative;
  animation: fadeslidein 0.5s 0.5s normal backwards;
}

#education {
  background: linear-gradient(
    -135deg,
    var(--color-orange),
    var(--color-orange-secondary)
  );
}

.education-list-item .name {
  margin-bottom: 4px;
  font-size: 28px;
  font-weight: 600;
}

.education-list-item .course {
  margin-bottom: 8px;
  font-size: 18px;
}

.education-list-item:not(:last-of-type) {
  margin-bottom: 32px;
}

#experience {
  background: linear-gradient(
    -135deg,
    var(--color-blue),
    var(--color-blue-secondary)
  );
}

.experience-list {
}

.experience-list-item {
  margin-bottom: 16px;
}

.experience-list-item .name {
  margin-bottom: 4px;
  font-size: 28px;
  font-weight: 600;
}

.experience-list-item .position {
  margin-bottom: 8px;
  font-size: 18px;
}

.experience-list-item .description {
  font-size: 16px;
  font-weight: lighter;
}

#skills {
  background: linear-gradient(
    -135deg,
    var(--color-deep-purple),
    var(--color-deep-purple-secondary)
  );
}

.skill-list-title {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 24px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.skills-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;
  margin: 8px;
  background-color: #503199;
  padding: 12px;
  border-radius: 4px;
}

.skills-item:hover .logo {
  transform: scale(1.5) rotate(5deg);
}

.skills-item .logo {
  height: 40px;
  transition: 0.3s;
}

.skills-item .name {
  font-weight: lighter;
  font-size: 22px;
  margin-left: 16px;
}

#projects {
  background: linear-gradient(
    -135deg,
    var(--color-teal),
    var(--color-teal-secondary)
  );
}

.project-list-item {
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 6px;
  background: #00756985;
  transition: 0.3s;
}

.project-list-item:hover {
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 6px;
  background: #007569;
  cursor: pointer;
}

.project-list-item .title {
  font-weight: 600;
}

.project-list-item .type {
  margin-bottom: 8px;
  font-size: 16px;
}

.project-list-item .date {
  font-size: 14px;
  margin-top: 4px;
  font-weight: lighter;
  letter-spacing: 1.1px;
  margin-bottom: 8px;
}

.project-list-item .description {
  display: none;
  margin-bottom: 8px;
  font-size: 16px;
}

.project-list-item .tech-stack {
  display: flex;
  align-items: center;
}

.tech-stack .tech-stack-img {
  height: 20px;
  margin-right: 12px;
}

#certifications {
  background: linear-gradient(
    -135deg,
    var(--color-brown),
    var(--color-brown-secondary)
  );
}

.certification-list-item {
  margin-bottom: 16px;
}

.certification-list-item .title {
  font-weight: 600;
}

#contact {
  padding: 64px 32px;
  color: white;
  background: linear-gradient(
    -135deg,
    var(--color-indigo),
    var(--color-indigo-secondary)
  );
}

#contact .contact-link {
  color: white;
  font-weight: lighter;
  font-size: 18px;
  text-decoration: none;
}

#contact .title {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#contact .title img {
  height: 14px;
  margin-right: 16px;
}

#contact-form {
  margin-top: 24px;
}

#contact-form label {
  display: block;
  margin-bottom: 32px;
  width: 100%;
  font-size: 16px;
}

.input {
  margin-top: 8px;
  display: block;
  border: none;
  padding: 8px;
  font-size: 20px;
  width: 100%;
  outline: none;
  transition: 0.3s;
  outline: none;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid grey;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-orange);
}

.label {
  display: block;
}

#contact-form label textarea {
  resize: none;
}

#footer {
  background: linear-gradient(
    -135deg,
    var(--color-blue-grey),
    var(--color-blue-grey-secondary)
  );
  font-size: 14px;
}

.infinite-zoominout {
  display: inline-block;
  animation: zoominout 1s ease-in 0s infinite alternate-reverse;
}
